In [3]:
import pandas as pd
import matplotlib.pyplot as plt

## Load Dataset

In [1]:
path = "src\wheather_data\TG_STAID000092.txt"

In [4]:
df = pd.read_csv(path, skiprows=20, parse_dates=["    DATE"])
df.head()

   STAID   SOUID       DATE     TG   Q_TG
0     92     357 1936-01-01    -18      0
1     92     357 1936-01-02      0      0
2     92     357 1936-01-03    -43      0
3     92     357 1936-01-04    -49      0
4     92     357 1936-01-05    -19      0

## Statistical Analysis